* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  list-style: none;
  font-family: Microsoft Yahei;
}

.c-popover {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: #fff;
}

@import "./variables";
@import "./font/font-awesome";
@import "./components/row";
@import "./components/dropdown";
@import "./components/button";
@import "./components/editor";
@import "./components/font-family";
@import "./components/font-size";
@import "./components/color";
